
@font-face {
	font-family: 'Atkinson';
	src: url("/fonts/AtkinsonHyperlegible-Regular.ttf");
}
@font-face {
	font-family: 'Atkinson';
	src: url("/fonts/AtkinsonHyperlegible-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: 'Archivo';
	src: url("/fonts/ArchivoBlack-Regular.ttf");
}

@keyframes fancy-appear-anim {
	0% {
		opacity: 0%;
		transform: scale(95%);
		/*filter: blur(4px);*/
	}
	100% {
		opacity: 100%;
		transform: scale(100%);
		/*filter: none;*/
	}
}

.fancy-appear {
	animation: fancy-appear-anim .4s ease-out both;
	animation-delay: .2s;
}

body {
	font-family: Atkinson;
	overflow: hidden;
	background: #5560DF;
}
